* {
    margin: 1;
    padding: 1;
}

.cabecalho {
    background-color: #750000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 400;
}

.cabecalho-imagem{
    width: 8%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 5 16px;
    font-size: 50px;
}